.input-container, .output-container{
  padding-right: 1rem;
  border-radius: 0.5rem;
}
.input-container{
  display: grid;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 2fr 1fr 2fr;

  & > * {
    width: 100%;
    height: 18rem;
    background-color: var(--clr-white);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    overflow-y: auto;
  }
}
.output-container{
  // grid-template-columns: 1fr;
  // height: 100%;
  // width: 100%;
  height: 42rem;

  .output-chart {
    width: 100%;
    height: 100%;
    background-color: var(--clr-white);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    // overflow-y: auto;
  }
}

.card-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0.125rem;

  i{
      font-size: var(--fs-20);
  }

  h4{
      font-size: var(--fs-10);
  }
}

.output-table > .card-heading, .input-table > .card-heading{
  justify-content: space-between;
}

.jobs{
  background-color: var(--clr-primary-400);
  color: var(--clr-white);
  height: 6.75rem;
  display: flex;
  justify-content: center;
  align-items: center;

  & > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h4{
    font-size: 2rem;
  }
}

.task-machine{
  margin-top: 1rem;
  height: 6.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  .task, .machine {
    background-color: var(--clr-primary-400);
    color: var(--clr-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h4{
      font-size: 2rem;
    }
  }
}

.chart-header{
  margin-bottom: 1rem;
}

.chart-labels{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.chartLabel{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.square{
  width: 10px;
  aspect-ratio: 1;
}

.M01_Fermat{
  background-color: #5e97f6;
}
.M07_Saw{
  background-color: #db4437;
}
.M01_Skoda{
  background-color: #f2a600;
}
.M05_Lathe2{
  background-color: #0f9d58;
}
.M03_Hacco{
  background-color: #ab47bc;
}
.M05_Lathe{
  background-color: #00acc1;
}
.M06_Drilling{
  background-color: #e64a19;
}

.output-chart .chart-labels{
  margin-top: -5rem;
  position: absolute;
  width: 100%;
}